<div class="m-5">
  <div>
    <figure class="border-start border-5 ps-2">
      <blockquote class="blockquote">
        <p><%= @question %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="You">You</cite>
      </figcaption>
    </figure>
  </div>
  <div>
    <figure id="answer" class="border-start border-5 ps-2">
      <blockquote class="blockquote">
        <p><%= @answer %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Your coach">Your coach</cite>
      </figcaption>
    </figure>
  </div>
  <div>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
